#sidebar
  width: sidebar-width
  float: left
  padding-bottom: 50px
  opacity: 0.8
  margin-left: sidebar-width * -1
  display: none
  // position: sticky
  // top: 97px
  @media mq-normal
    display: block

.sidebar-title
  margin-top: 40px
  padding: 10px 0
  font-family: font-menu
  font-weight: bold
  font-size: 18px
  color: color-link
  display: inline-block
  border-top: 1px solid color-border
  line-height: 1

.sidebar-link
  font-family: font-title
  display: block
  color: color-default
  text-decoration: none
  padding: 7px 0
  line-height: 1.25em
  position: relative
  width: 100%
  &.current
    color: color-link
  &:hover
    color: color-link-hover

.category-list
  background: #999
  li
    position: relative
    line-height: 1.8
    .category-list-link
      display: block
      color: color-link
      &:hover
        color: color-link-hover
    .category-list-children
      display: none
      li
        line-height: 1.8
        .category-list-link
          color: #333
          &.current: #f1b335
          &:hover
            color: color-link-hover
    &.show-children
      .category-list-children
        display: block